/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Josefin+Sans|Poppins');
/*
* {
    border: 1px solid #000;
}*/
/* Global */
body {
    font-family: 'Droid Serif', arial, serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background: #92C0DB;
}

h3 {
    font-family: "Poppins", Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}
/* Header */
header {
    background: #2F617F;
    color: #FFAFA5;
    margin: auto;
    padding: 0;
    min-height: 60px;
    border-bottom: 5px solid #C85142;
}

/*
div#logo {
    float: left;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: auto;
    height: 60px;
}*/

header h1.linkLogo {
    float: left;
    margin: 15px 0 0 15px;
}

header h1.linkLogo a {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: -2px;
    text-decoration: none;
    color: #FFAFA5;
    position: absolute;
}

header h1.linkLogo a:hover {
    font-weight: bold;
    color: #ff7461;
    letter-spacing: 1px;
}

header nav a {
    font-size: 25px;
    font-family: 'Poppins', arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFAFA5;
}

header a:hover {
    font-weight: bold;
    color: #FF6D59;
}

header .selected {
    font-weight: bold;
    color: #FF6D59;
}


header nav ul {
    float: right;
    padding: 15px 0;
}

header li {
    list-style: none;
    display: inline;
    float: left;
    padding: 0 20px;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background: url(../img/pexels-photo-386009.jpeg) no-repeat 0 -550px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    color: #F9D96D;
    border-bottom: 3px solid #C85142;
}

#showcase h1 {
    margin-top: 140px;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 56px;
    line-height: 0.1em;
    color: #F9D96D;
}

#showcase p {
    font-size: 20px;
    width: 50%;
}

/* Main Content */
#mArticle{
    width: 60%;
    float: left;
    background: #633731;
    color: #fff;
    line-height: 1.5em;
    border-radius: 0px 10px 10px 0;
    margin-top: 10px;
    display: inline;
    overflow: auto;
}

#mArticle h2 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 35px;
    padding: 20px 0 0 20px;
    color: #F9D96D;
}

#mArticle p {
    font-size: 16px;
    padding: 0 20px;
}

/* Services */
#sArticle {
    width: 100%;
    background: ##56A8D8;
    color: #fff;
    line-height: 1.5em;
    overflow: auto;
}

#sArticle h2 {
    font-family: 'Poppins', arial, sans-serif;
    font-size: 35px;
    color: #C85142;
    text-transform: uppercase;
    margin: 30px 0 20px 25px;
}

#services h3 {
    font-family: 'Poppins';
    font-size: 25px;
    padding: 10px 0 0 20px;
    text-transform: uppercase;
}

#services li {
    text-align: center;
    color: #fff;
    list-style: none;
    float: left;
    width: 30%;
    margin: 0 20px 30px 20px;
    background: #21343F;
    border-radius: 10px;
}

#services li:hover {
    background: #F9D96D;
    color: #21343F;
}

#services p {
    padding: 10px;
}

#services a {
    text-decoration: none;
    color: #fff;
    background: #C85142;
    padding: 10px;
    border-radius: 5px;
}

#services a:hover {
    background: #FF6D59;
    color: #21343F;
    text-transform: uppercase;
}

/* Contact */
#cArticle {
    width: 60%;
    float: left;
    background: #21343F;
    color: #fff;
    line-height: 1.5em;
    display: inline;
    border-bottom-right-radius: 10px;
}

#cArticle h2 {
    font-family: 'Poppins', arial, sans-serif;
    font-size: 35px;
    color: #C85142;
    text-transform: uppercase;
    margin: 30px 0 30px 25px;
}

#cArticle div {
    margin: 10px 0 20px 100px;
    padding: 10px;
}

#cArticle div label {
    font-size: 18px;
    padding-bottom: 10px;
}

#cArticle div input {
    width: 40%;
    background: #21343F;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 12px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    transition: width 0.4s ease-in;
}

#cArticle div input:focus {
    outline: none;
    width: 60%;
}

#cArticle div textarea {
    resize: none;
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #fff;
    background: #21343F;
    color: #fff;
    font-size: 16px;
}

#cArticle div textarea:focus {
    outline: none;
}

#cArticle button {
    width: 30%;
    background: #C85142;
    border: none;
    color: #fff;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#cArticle button:hover {

}

/* Aside Content */
aside {
    width: 35%;
    float: right;
    background: #21343F;
    color: #fff;
    margin-top: 30px;
    line-height: 1.5em;
    border-radius: 10px 0 0 10px;
    display: block;
}

aside h3 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #C85142;
}

aside p {

    font-size: 16px;
    padding: 0 20px;
}

.clr {
    clear: both;
}

/* Social Footer */
footer .social {
    background: #54A7D8;
    background: linear-gradient(to top, #54A7D8, #92C0DB);
    margin-top: 20px;
    width: 100%;
    border-bottom: 3px solid #C85142;
}

.social {
    text-align: center;
    margin: 0;
}

.social li {
    display: inline;
}

.social i {
    font-size: 400%;
    margin: 1%;
    padding: 0.5% 5% 0 4%;
}

.social li a {
    text-decoration: none;
    color: #C85142;
}

.social li a:hover {
    color: #F9D96D;
    font-weight: bold;
}

/* Second Footer */
.second {
    background: #2F617F;
    width: 100%;
    margin: 0;
    position: absolute;
}

.second p {
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 10px 0;
}
